%typeClassicFont {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}
%type-robboto-font {
  font-family: "TikTok Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100;
  transition: 0.2s all ease-in;
}
%typeExcessiveFont {
  font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0, "CRSV" 0.5, "ELSH" 0, "ELXP" 0;
}
.infinity-heading {
  font-size: 1.7rem;
  margin: 0 2rem;
  font-weight: 800;
  opacity: 0.5;
}
@media only screen and (max-width: 768px) {
  .infinity-heading {
    font-size: 1.1rem;
    margin: 0 1rem;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @extend %type-robboto-font;
}
body {
  background-color: #fff;
  color: #111;
}
.dark-mode {
  background-color: #111;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background: rgba(255, 255, 255, 0.605);
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(3.7px);
  -webkit-backdrop-filter: blur(3.7px);
}
.dark-mode .navbar {
  background: #111;
}
.nav-contain {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.logo-contain {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: #111;
  border: none;
  outline: none;
  background-color: transparent;
}
.dark-mode .logo-contain {
  color: #fff;
}
.logo-contain:active,
.logo-contain:visited,
.logo-contain:focus {
  background-color: transparent !important;
  outline: none;
  -webkit-tap-highlight-color: transparent; /* <– THIS is the true slayer */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.logo-contain i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  // background-image: repeating-linear-gradient(45deg, red, blue 7%, green 10%);
  // -webkit-background-clip: text;
  // color: transparent;
  opacity: 0.5;
}
.nav-title {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.3rem;
  font-family: "poppins", sans-serif;
  // background-image: repeating-linear-gradient(45deg, red, blue 7%, green 10%);
  // -webkit-background-clip: text;
  // color: transparent;
}
.nav-contents {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.3rem;
  list-style: none;
}
.nav-items {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  opacity: 0.7;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 600;
  @extend %type-robboto-font;
  text-decoration: none;
  color: #111;
  border: none;
  outline: none;
  background-color: transparent;
}
.dark-mode .nav-items {
  color: #fff;
}
.nav-items:active,
.nav-items:visited,
.nav-items:focus {
  background-color: transparent !important;
  outline: none;
  -webkit-tap-highlight-color: transparent; /* <– THIS is the true slayer */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.nav-items:hover {
  box-shadow: 0 0 1px 0.6px #999;
  opacity: 1;
}
.nav-toggle-contents {
  display: flex;
  justify-content: end;
  align-items: center;
  list-style: none;
  gap: 1rem;
}
.nav-toggle-items {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 7px 15px;
  cursor: pointer;
  border-radius: 3px;
  opacity: 0.8;
  text-transform: capitalize;
  font-size: 0.9rem;
  font-weight: 600;
  @extend %type-robboto-font;
  box-shadow: 0 0 0px 0.6px #999;
  text-decoration: none;
  outline: none;
  background-color: transparent;
  color: #111;
}
.dark-mode .nav-toggle-items {
  color: #fff;
}
.nav-toggle-items:active,
.nav-toggle-items:visited,
.nav-toggle-items:focus {
  background-color: transparent !important;
  outline: none;
  -webkit-tap-highlight-color: transparent; /* <– THIS is the true slayer */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.nav-toggle-items:hover {
  opacity: 1;
}
.nav-toggle-btn.theme {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #000;
  // margin: 0 0.5rem;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}
.dark-mode .nav-toggle-btn.theme {
  color: #fff;
}
// .nav-toggle-btn.theme:hover{
//   color: #000;
// }
.nav-toggle-btn.toggle {
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.sidebar {
  position: fixed;
  right: 0;
  height: 92vh;
  width: 400px;
  padding: 1rem;
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 1rem;
  background: rgba(255, 255, 255, 0.605);
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(3.7px);
  -webkit-backdrop-filter: blur(3.7px);
  border: 1px solid rgba(255, 255, 255, 0.14);
  display: none;
  transform: translateX(110%);
  transition: 0.5s all ease-in-out;
}
.dark-mode .sidebar {
  background: rgba(0, 64, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.6px);
  -webkit-backdrop-filter: blur(9.6px);
}
.sidebar.open {
  transform: translateX(0);
}

.profile {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1rem;
  border-radius: 15px;
  gap: 1rem;
  box-shadow: 0px 0px 1px 0.5px rgba(0, 0, 0, 0.15);
  border: none;
  outline: none;
  background-color: transparent;
  text-decoration: none;
  color: #111;
  cursor: pointer;
}
.dark-mode .profile {
  color: #fff;
}
.profile:active,
.profile:visited,
.profile:focus {
  background-color: transparent !important;
  outline: none;
  -webkit-tap-highlight-color: transparent; /* <– THIS is the true slayer */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.profile-picture {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.profile-title {
  font-size: 1rem;
  font-family: "poppins", sans-serif;
  font-weight: 600;
  opacity: 0.7;
}
.dark-mode .profile-title {
  opacity: 0.9;
}
.side-list {
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  // display: grid;
  gap: 0.5rem;
  padding: 1rem;
  // grid-template-columns: repeat(2, 1fr);
}
.side-items {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
  border-radius: 10px;
  box-shadow: 0px 0px 1px 0.5px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  outline: none;
  border: none;
  background-color: transparent;
}
.side-items:active,
.side-items:visited,
.side-items:focus {
  background-color: transparent !important;
  outline: none;
  -webkit-tap-highlight-color: transparent; /* <– THIS is the true slayer */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.side-items i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #5096e1;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.dark-mode .side-items i {
  color: #87c1ff;
}
.title-items-sidebar {
  font-size: 0.9rem;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  color: #111;
}
.dark-mode .title-items-sidebar {
  color: #fff;
}
// Navbar and Sidebar MediaQueries
@media only screen and (max-width: 1024px) {
  .navigation {
    position: sticky;
    top: 0;
    z-index: 50000000;
  }
  .dark-mode .navbar {
    background: rgba(0, 64, 255, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
  }
  .nav-title {
    font-size: 1rem;
  }
  .nav-toggle-items {
    display: none;
  }
  .nav-items {
    display: none;
  }
  .nav-toggle-btn.toggle {
    display: inline;
  }
  .sidebar {
    display: inline;
  }
}
@media only screen and (max-width: 768px) {
  .sidebar {
    width: 80%;
    gap: 0.5rem;
  }
  .profile {
    padding: 0.8rem;
    gap: 0.5rem;
  }
  .profile-picture {
    width: 50px;
    height: 50px;
  }
  .profile-title {
    font-size: 0.9rem;
  }
  .side-list {
    padding: 0.8rem;
  }
  .title-items-sidebar {
    font-size: 0.8rem;
  }
}
// Home_Typer
.section-home {
  width: 100%;
  height: 120vh;
  background-image: url(https://i.ibb.co/kV6TQByT/pexels-mikhail-nilov-7682098.jpg);
  background-size: cover;
  background-position: center;
}

.index-text-overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(247, 245, 245, 0.1568627451),
    #eeeeee
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dark-mode .index-text-overlay {
  background: linear-gradient(
    to bottom,
    rgba(0, 58, 124, 0.3529411765),
    #004890
  );
}

.text-upper-base {
  margin-bottom: 2rem;
  padding: 0.5rem;
  background-color: rgba(215, 215, 215, 0.6);
  border-radius: 7px;
  box-shadow: 0px 0px 2px 0.5px #999;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.an-heading {
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "poppins", sans-serif;
}

.al-an-contain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.span-tp {
  height: 30px;
  border: 3px solid #000;
  margin-left: 5px;
  display: inline-block;
  border-right: 2px solid black;
  animation: blink 1s ease-in-out infinite;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.dark-mode .span-tp {
  animation: Darkblink 1s ease-in-out infinite;
  -webkit-animation: Darkblink 1s ease-in-out infinite;
}

.typewritter {
  font-size: 2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding-right: 0.4rem;
  flex-wrap: nowrap;
  overflow: hidden;
  font-weight: 600;
}

.text-contain-index-pera {
  width: 700px;
  text-align: center;
  font-size: 1.1rem;
  margin-top: 2rem;
  opacity: 0.7;
  @extend %type-robboto-font;
  font-weight: 400;
}

@keyframes blink {
  0%,
  100% {
    border-color: black;
    opacity: 1;
  }
  50% {
    border-color: transparent;
    opacity: 0.4;
  }
}
@keyframes Darkblink {
  0%,
  100% {
    border-color: #f9f9f9;
    opacity: 1;
  }
  50% {
    border-color: transparent;
    opacity: 0.4;
  }
}
.button-index-contain {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

#Openlink,
#Closelink {
  border: none;
  outline: none;
  padding: 0.7rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 7px;
  text-transform: capitalize;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  text-decoration: none;
  outline: none;
  outline: none;
}
#Openlink {
  border: none;
  outline: none;
}
#Openlink:visited,
#Openlink:active,
#Openlink:focus {
  background-color: #111;
  outline: none;
  -webkit-tap-highlight-color: #111; /* <– THIS is the true slayer */
  color: #f9f9f9;
  -webkit-tap-highlight-color: #111;
}

#Closelink:visited,
#Closelink:active,
#Closelink:focus {
  background-color: #f9f9f9;
  color: #000;
  outline: none;
  -webkit-tap-highlight-color: #f9f9f9; /* <– THIS is the true slayer */
  -webkit-tap-highlight-color: #f9f9f9;
}

.dark-mode #Openlink:visited,
.dark-mode #Openlink:active,
.dark-mode #Openlink:focus {
  background-color: #111;
  outline: none;
  -webkit-tap-highlight-color: #111; /* <– THIS is the true slayer */
  color: #f9f9f9;
  -webkit-tap-highlight-color: #111;
}

.dark-mode #Closelink:visited,
.dark-mode #Closelink:active,
.dark-mode #Closelink:focus {
  background-color: #f9f9f9;
  color: #000;
  outline: none;
  -webkit-tap-highlight-color: #f9f9f9; /* <– THIS is the true slayer */
  -webkit-tap-highlight-color: #f9f9f9;
}

#Openlink {
  background-color: #000;
  color: #f9f9f9;
}

#Closelink {
  background-color: #f9f9f9;
  color: #111;
  text-decoration: none;
}

.dark-mode #Openlink {
  background-color: #f9f9f9;
  color: #111;
}

.dark-mode #Closelink {
  background-color: #000;
  color: #f9f9f9;
}

.gentle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 7px;
  background-color: rgba(249, 249, 249, 0.6784313725);
  box-shadow: 0px 0px 2px 1px rgba(193, 193, 193, 0.38);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.dark-mode .gentle-container {
  background-color: rgba(0, 58, 124, 0.3529411765);
  box-shadow: 0px 0px 2px 1px rgba(67, 65, 189, 0.38);
}

.info-gen {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  font-family: "poppins", sans-serif;
  opacity: 0.8;
}

.subtitle-gen {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

@media only screen and (max-width: 768px) {
  .section-home {
    height: 100vh;
  }
  .text-upper-base {
    font-size: 0.7rem;
    box-shadow: 0px 0px 1px 0.5px rgba(153, 153, 153, 0.4078431373);
  }
  .an-heading {
    font-size: 2rem;
    text-align: center;
  }
  .typewritter {
    font-size: 1.3rem;
  }
  .span-tp {
    height: 20px;
  }
  .text-contain-index-pera {
    width: 100%;
    padding: 0 3rem;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    opacity: 0.7;
  }
  .button-index-contain {
    margin-top: 1rem;
  }
  #Openlink,
  #Closelink {
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }
  .gentle-container {
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }
  .info-gen {
    font-size: 1rem;
  }
  .subtitle-gen {
    font-size: 0.7rem;
  }
}
// Profile
.p-user-container {
  display: flex;
  justify-content: start;
  margin: 2rem;
  gap: 2rem;
}
.p-u-logo-contain {
  clip-path: polygon(20% 0, 100% 0, 100% 80%, 80% 99%, 0 100%, 0% 60%, 0 20%);
  width: 50%;
  background: linear-gradient(-45deg, #0000 1.3%, transparent 0 32%, #0000 0),
    linear-gradient(45deg, #0000 48%, #1a8fe5 0 52%, #0000 0),
    linear-gradient(45deg, #0000 1.3%, transparent 0 32%, #0000 0)
      calc(32px / 2) calc(32px / 2),
    linear-gradient(-45deg, #0000 48%, #1a8fe5 0 52%, #0000 0) transparent;
  background-size: calc(2 * 32px) 32px, 32px 32px;
}
.gl-p-in-wrapper {
  width: 100%;
  // height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: center;
  background-color: transparent;
}
.p-in-name {
  position: relative;
  font-size: 2rem;
  // @extend %type-robboto-font;
  font-family: "poppins", sans-serif;
  // font-style: italic;
  font-weight: bold;
  color: #000;
  letter-spacing: 3px;
  z-index: 1;
}
.p-in-name:before,
.p-in-name:after {
  display: block;
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.p-in-name:before {
  animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #00ffff;
  z-index: -1;
}

.p-in-name:after {
  animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both
    infinite;
  color: #ff00ff;
  z-index: -2;
}

@keyframes glitch-it {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  to {
    transform: translate(0);
  }
}
.p-in-subtitle {
  font-size: 1.5rem;
  font-weight: 800;
  opacity: 0.7;
}
.text-in {
  width: 70%;
  font-size: 0.9rem;
  font-weight: 600;
  opacity: 0.8;
}
.in-links-contain {
  display: flex;
  justify-content: start;
  align-items: center;
  list-style: none;
  gap: 0.5rem;
}
.links-in {
  cursor: pointer;
  font-size: 1.8rem;
  opacity: 0.5;
}
.img-user-p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 300px;
  height: 430px;
}
@media only screen and (max-width: 768px) {
  .p-user-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
  }
  .p-u-logo-contain {
    width: 100%;
    clip-path: polygon(
      20% 0,
      100% 0,
      100% 85%,
      80% 100%,
      0 100%,
      0% 60%,
      0 15%
    );
  }
  .p-in-name {
    font-size: 1.5rem;
  }
  .p-in-subtitle {
    font-size: 1.2rem;
  }
  .text-in {
    width: 100%;
    margin: 0.5rem 1rem 0.5rem 0rem;
    font-size: 0.8rem;
  }
  .img-user-p {
    width: 100%;
    height: 100%;
  }
}
// Profile/Flip Card
.p-ed-container {
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 1rem 2rem;
  padding: 2rem;
}
.p-ed-card {
  height: 100%;
  padding: 1rem;
  box-shadow: 0 0 1px 0.3px #999;
}
.p-ed-upper-contain {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.heading-p-ed {
  font-size: 1rem;
  font-weight: 700;
  // opacity: ;
}
.p-ed-subtitle {
  font-size: 0.9rem;
  font-weight: 700;
  opacity: 0.7;
}
.p-ed-loc {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  // gap: 0.3rem;
}
.p-ed-state {
  font-size: 0.9rem;
  font-weight: 600;
  opacity: 0.5;
}
.p-ed-city {
  opacity: 0.9;
  font-size: 0.9rem;
  font-weight: 600;
}
.text-p-ed {
  padding: 1rem;
  opacity: 0.5;
  font-size: 0.9rem;
  // font-weight: ;
}
@media only screen and (max-width: 768px) {
  .p-ed-container {
    gap: 0.5rem;
    margin: 1rem;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }
  .p-ed-upper-contain {
    flex-direction: column;
    gap: 0.5rem;
  }
  .p-ed-card {
    padding: 0.5rem;
  }
  .heading-p-ed {
    font-size: 0.8rem;
  }
  .p-ed-subtitle {
    font-size: 0.8rem;
  }
  .p-ed-state,
  .p-ed-city {
    font-size: 0.7rem;
  }
  .text-p-ed {
    font-size: 0.7rem;
    padding: 0.5rem;
  }
}
// Profile/Currently_Education
.cur-ed-container {
  margin: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 2rem;
}

.cur-ed-cards {
  border: 1px solid #999;
  // width: 50%;
  height: 100%;
}
.cur-ed-upper-contain {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: start;
}
.cur-ed-title {
  font-size: 1.1rem;
  font-weight: 800;
  opacity: 0.8;
}
.cur-ed-subtitle {
  font-size: 1rem;
  font-weight: 700;
  opacity: 0.6;
}
.curr-cur-info {
  border: 1px solid #999;
  font-size: 0.9rem;
  padding: 5px 15px;
  text-transform: capitalize;
  font-weight: 600;
  opacity: 0.5;
  border-radius: 3px;
}
.cur-ed-text {
  font-size: 0.9rem;
  padding: 1rem;
  font-weight: 600;
  opacity: 0.5;
}
@media only screen and (max-width: 768px) {
  .cur-ed-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
    margin: 1rem;
  }
  .cur-ed-cards {
    width: 100%;
  }
  .cur-ed-title {
    font-size: 0.9rem;
  }
  .cur-ed-subtitle {
    font-size: 0.8rem;
  }
  .curr-cur-info {
    font-size: 0.7rem;
  }
  .cur-ed-text {
    font-size: 0.7rem;
  }
}
// Profile/Languages ---- Lang-container
.lang-container {
  // width: 100%;
  height: 80vh;
  margin: 1rem 2rem;
  background: radial-gradient(
        circle farthest-side at 0% 50%,
        #fff 23.5%,
        #0000 0
      )
      26.3px 37.5px,
    radial-gradient(circle farthest-side at 0% 50%, #00b97c 24%, #0000 0) 23.8px
      37.5px,
    linear-gradient(#fff 14%, #0000 0, #0000 85%, #fff 0) 0 0,
    linear-gradient(
        150deg,
        #fff 24%,
        #00b97c 0,
        #00b97c 26%,
        #0000 0,
        #0000 74%,
        #00b97c 0,
        #00b97c 76%,
        #fff 0
      )
      0 0,
    linear-gradient(
        30deg,
        #fff 24%,
        #00b97c 0,
        #00b97c 26%,
        #0000 0,
        #0000 74%,
        #00b97c 0,
        #00b97c 76%,
        #fff 0
      )
      0 0,
    linear-gradient(90deg, #00b97c 2%, #fff 0, #fff 98%, #00b97c 0%) 0 0 #fff;
  background-size: 50px 75px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dark-mode .lang-container {
  background: radial-gradient(
        circle farthest-side at 0% 50%,
        #000 23.5%,
        #0000 0
      )
      26.3px 37.5px,
    radial-gradient(circle farthest-side at 0% 50%, #1a8fe5 24%, #0000 0) 23.8px
      37.5px,
    linear-gradient(#000 14%, #0000 0, #0000 85%, #000 0) 0 0,
    linear-gradient(
        150deg,
        #000 24%,
        #1a8fe5 0,
        #1a8fe5 26%,
        #0000 0,
        #0000 74%,
        #1a8fe5 0,
        #1a8fe5 76%,
        #000 0
      )
      0 0,
    linear-gradient(
        30deg,
        #000 24%,
        #1a8fe5 0,
        #1a8fe5 26%,
        #0000 0,
        #0000 74%,
        #1a8fe5 0,
        #1a8fe5 76%,
        #000 0
      )
      0 0,
    linear-gradient(90deg, #1a8fe5 2%, #000 0, #000 98%, #1a8fe5 0%) 0 0 #000;
  background-size: 50px 75px;
  background-color: #000;
}
.lang-overlay {
  background-color: #ffffffcb;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.dark-mode .lang-overlay {
  background-color: #000000be;
}
.lang-list {
  width: fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.lang-list i {
  font-size: 8rem;
  opacity: 0.4;
}
@media only screen and (max-width: 768px) {
  .lang-container {
    height: 90vh;
    margin: 1rem;
  }
  .lang-overlay {
    padding: 1rem;
  }
  .lang-list i {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 531px) {
  .lang-container {
    height: fit-content;
  }
  .lang-list i {
    font-size: 3rem;
  }
}
// Project/input-container ---- p-g-inp-container
.p-g-inp-container {
  padding: 1rem 2rem;
}
.p-heading-contain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
}
.heading-project {
  font-size: 3rem;
}
.subtitle-project {
  font-size: 1.5rem;
  opacity: 0.8;
}
.p-highlight {
  background-image: linear-gradient(to top, #0051ff80 0.1em, transparent 0.1em);
}
.dark-mode .p-highlight {
  background-image: linear-gradient(to top, #0051fffb 0.1em, transparent 0.1em);
}
.p-inp-contain {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.p-inp-contain input {
  font-size: 18px;
  padding: 15px 20px;
  width: 100%;
  padding-left: 35px;
  outline: none;
  // background: #FFFFFF;
  color: #000;
  border: 1px solid #999;
  border-radius: 7px;
  transition: 0.3s ease;
}
.dark-mode .p-inp-contain input {
  background-color: #000;
  color: #f1f1f1;
}
.p-inp-contain input:focus {
  background: #f0f0f0;
}

.p-inp-contain input::placeholder {
  color: #dddddd;
}
.dark-mode .p-inp-contain input:focus {
  background: #9999;
}

.dark-mode .p-inp-contain input::placeholder {
  color: #dddddd;
}
.p-search {
  position: absolute;
  font-size: 1.5rem;
  left: 10px;
  width: 18px;
  height: 18px;
  margin-bottom: 0.2rem;
  border-radius: 10px;
}
// .dark-mode .p-search{
//   color: #ddd;
// }
.button-p-inp-contain {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.btn-p-inp {
  font-size: 1rem;
  padding: 8px 20px;
  border-radius: 3px;
  font-weight: 500;
  opacity: 0.8;
  cursor: pointer;
  background-color: transparent;
  // border: 1px solid #999;
  border: none;
  outline: none;
  background-color: #f0f0f0;
}
.dark-mode .btn-p-inp {
  color: #fff;
  background-color: #555;
}
.project-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 1rem 2rem;
  padding: 1rem;
}
.project-card {
  padding: 1rem;
  border-radius: 5px;
  background-color: #f0f0f0;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
  text-transform: capitalize;
}
.dark-mode .project-card {
  border: none;
  box-shadow: none;
  background-color: #1f1e1e;
}
// Project / Dialogue box --- dialog-overlay
.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.3px);
  -webkit-backdrop-filter: blur(3.3px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.dialog-box {
  width: 700px;
  height: 300px;
  padding: 2rem;
  background: rgba(239, 238, 238, 0.878);
  // box-shadow: 0 0 3px 0.5px #999;
  backdrop-filter: blur(5.7px);
  -webkit-backdrop-filter: blur(5.7px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: start;
}
.dark-mode .dialog-box {
  background: #333;
}
.heading-l-d-box {
  font-size: 1.1rem;
  font-weight: 700;
  opacity: 0.5;
}
.lang-btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.lang-btn {
  padding: 7px 15px;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
  opacity: 0.5;
  cursor: pointer;
  color: #111;
  background-color: #fff;
}
.dark-mode .lang-btn {
  background-color: #1f1e1e;
  color: #fff;
}
.lang-btn.active {
  opacity: 1;
  background-color: #87c1ffcb;
}
.dark-mode .lang-btn.active {
  background-color: #007bff;
  color: #fff;
}
.l-c-btn-contain {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
}
.lang-close-btn {
  position: absolute;
  display: flex;
  align-items: end;
  justify-content: end;
  margin: auto;
  border: none;
  padding: 5px 15px;
  font-size: 1rem;
  opacity: 0.8;
  cursor: pointer;
  background-color: #fff;
}
.dark-mode .lang-close-btn {
  background-color: #1f1e1e;
  color: #fff;
}
.filter-inputs label {
  margin: 0 1rem;
  font-size: 1rem;
  font-weight: 700;
  opacity: 0.5;
}
.filter-inputs input {
  border: none;
  outline: none;
  padding: 5px 15px;
  text-transform: uppercase;
  // opacity: 0.5;
  cursor: pointer;
}
.dark-mode .filter-inputs input {
  background-color: #1f1e1e;
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .dialog-box{
    width: 100%;
    height: fit-content;
    margin: 3rem;
  }
  .heading-l-d-box{
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  .lang-close-btn{
    font-size: 0.9rem;
  }
  .lang-btn{
    font-size: 0.7rem;
  }
  .lang-btn-group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .filter-container{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
  }
  .filter-inputs{
    font-size: 0.8rem;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 0.2rem;
    flex-direction: column;
  }
  .filter-inputs label{
    margin: 0;
    font-size: 0.8rem;
  }
  .filter-inputs input{
    font-size: 0.8rem;
    // padding: ;
  }
}
@media only screen and (max-width: 1024px) {
  .p-g-inp-container {
    padding: 1rem;
  }
  .heading-project {
    font-size: 2rem;
  }
  .subtitle-project {
    font-size: 1.2rem;
  }
  .project-cards {
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
    padding: 1.5rem;
  }
  .project-card {
    font-size: 0.9rem;
    // text-wrap: ;
  }
}
.close-p-d-btn {
  border: none;
  padding: 5px 15px;
  font-size: 1rem;
  opacity: 0.8;
  cursor: pointer;
  background-color: #f0f0f0;
  margin: 2rem;
  border-radius: 3px;
}
// /Project/Project Details --- project-details
.project-details {
  margin: 0 2rem;
}
.p-d-heading-contain {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
  flex-direction: column;
}
.heading-p-d {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 3rem;
  text-wrap: wrap;
}
.subtitle-p-d {
  font-size: 1.3rem;
  opacity: 0.7;
}
.config-p-d-contain {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 2rem;
}
.config-p-d {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 0.3rem;
}
.subtitle-c-p-d {
  font-size: 0.9rem;
  font-weight: 700;
  opacity: 0.7;
}
.item-c-p-d {
  padding: 5px 15px;
  background-color: #f0f0f0;
  border-radius: 3px;
  text-transform: capitalize;
}
.dark-mode .item-c-p-d{
  background-color: #1f1e1e;

}
.p-d-acp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.p-d-acp-contain {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
.subtitle-acp-p-d {
  font-size: 0.9rem;
  font-weight: 700;
  opacity: 0.7;
}
.content-acp-p-d-c{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
.content-acp-p-d-c i{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  opacity: 0.7;
}
.item-acp-p-d-c{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
}
.p-d-ow-d-container{
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  margin: 2rem;
}
.heading-p-d-ow{
  font-size: 1.5rem;
  opacity: 0.8;
  text-transform: capitalize;
}
.p-e-ow-pcv{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 3rem;
}
.heading-ow-p-d{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  padding: 5px 15px;
  background-color: #f0f0f0;
  border-radius: 3px;
}
.dark-mode .heading-ow-p-d{
  background-color: #1f1e1e;
}
.heading-ow-p-d img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.heading-ow-p-d a{
  text-decoration: none;
  color: #111;
  font-weight: 600;
}
.dark-mode .heading-ow-p-d a{
  color: #fff;
}
.link-v-g{
  padding: 5px 15px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 1rem;
  color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  background-color: #f0f0f0;
}
.dark-mode .link-v-g{
  background-color: #1f1e1e;
  color: #fff;
}
.p-icon-g{
  font-size: 1.5rem;
}
@media only screen and (max-width: 1024px) {
  .project-details{
    margin: 0 1rem;
  }
  .heading-p-d{
    font-size: 1.5rem;
  }
  .subtitle-p-d{
    font-size: 1rem;
  }
  .config-p-d-contain{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 1rem;
  }
  .config-p-d{
    gap: 0.2rem;
  }
  .subtitle-c-p-d{
    font-size: 0.8rem;
  }
  .item-c-p-d{
    font-size: 0.7rem;
  }
  .p-d-acp-container{
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .p-d-acp-contain{
    gap: 0.2rem;
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
  }
  .subtitle-acp-p-d{
    font-size: 0.8rem;
  }
  .content-acp-p-d-c i{
    font-size: 1.3rem;
  }
  .item-acp-p-d-c{
    font-size: 0.7rem;
  }
  .p-d-ow-d-container{
    margin: 1rem;
  }
  .heading-p-d-ow{
    font-size: 1rem;
  }
  .p-e-ow-pcv{
    gap: 1rem;
    margin: 1rem;
    justify-content: start;
    align-items: start;
    flex-direction: column;
  }
  .heading-ow-p-d img{
    width: 50px;
    height: 50px;
  }
  .heading-ow-p-d a{
    font-size: 0.9rem;
  }
  .link-v-g{
    font-size: 0.8rem;
  }
}
// Services/Services_Cards --- serv-card-contain
.services{
  margin: 1rem 2rem;
}
.heading-ser{
  margin: 4rem 0 0 4rem;
  font-size: 3rem;
}
.subtitle-heading-ser{
  font-size: 1.5rem;
  margin: 1rem;
  opacity: 0.8;
}
.ser-inp-container{
  padding: 0 5rem;
}
.serv-card-contain{
  padding: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.serv-card{
  width: 100%;
  padding: 1rem;
  border-radius: 3px;
  background-color: #f0f0f0;
  text-decoration: none;
  color: #111;
  cursor: pointer;
}
.dark-mode .serv-card{
  background-color: #1f1e1e;
  color: #fff;
}
.heading-n-fo{
  font-size: 2rem;
}
.subtitle-n-fo{
  margin: 1rem 0 0 1rem;
  font-size: 1.3rem;
  opacity: 0.8;
}
// Services/Services_Details --- services-d-container
.services-d-container{
  margin: 1rem 2rem;
}
.heading-contain-sr-d{
  margin: 2rem;
}
.heading-sr-d{
  font-size: 3rem;
}
.subtitle-sr-d{
  font-size: 1.5rem;
  opacity: 0.8;
  margin: 1rem 0 0 1rem;
}
.desc-sr-d{
  margin: 1rem;
  font-size: 1.2rem;
  opacity: 0.5;
}
.sr-d-f-contain{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.sr-d-list{
  list-style-type: none;
  padding: 1rem;
  border-radius: 3px;
  background-color: #f0f0f0;
}
.dark-mode .sr-d-list{
  background-color: #1f1e1e;
}
.sr-d-p-contain{
  display: flex;
  justify-self: start;
  align-self: start;
  flex-direction: column;
  margin: 1rem;
}
.heading-sr-d-p{
  font-size: 1.7rem;
}
.text-p-sr-d{
  font-size: 1.1rem;
  padding: 0.5rem;
}
.btn-sr-d{
  border: none;
  outline: none;
  margin: 1rem;
  padding: 1rem;
  font-size: 1rem;
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 3px;
}
.dark-mode .btn-sr-d{
  background-color: #1f1e1e;
  color: #fff;
}
@media only screen and (max-width: 1024px) {
  .services{
    margin: 1rem;
  }
  .heading-ser{
    margin: 1rem 0 0 1rem;
    font-size: 2rem;
  }
  .subtitle-heading-ser{
    font-size: 1.2rem;
    margin: 0.5rem 0 0 0.5rem;
  }
  .ser-inp-container{
    padding: 0 2rem;
  }
  .serv-card-contain{
    padding: 1rem;
    grid-template-columns: repeat(1, 1fr);
    font-size: 0.8rem;
  }
  .heading-n-fo{
    font-size: 1.2rem;
  }
  .subtitle-n-fo{
    margin: 0.5rem;
    font-size: 1rem;
  }
  .services-d-container{
    margin: 1rem;
  }
  .heading-contain-sr-d{
    margin: 0.5rem;
  }
  .heading-sr-d{
    font-size: 1.5rem;
  }
  .subtitle-sr-d{
    font-size: 1.1rem;
    margin: 0.5rem 0 0 0.5rem;
  }
  .desc-sr-d{
    margin: 0.5rem;
    font-size: 0.9rem;
  }
  .sr-d-f-contain{
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
  .sr-d-list{
    font-size: 0.8rem;
    height: 100%;
  }
  .sr-d-p-contain{
    margin: 1rem 0 0 0 ;
    // justify-content: center;
    width: 100%;
    // align-items: start;
  }
  .heading-sr-d-p{
    font-size: 1.1rem;
    font-weight: 700;
    opacity: 0.8;
  }
  .text-p-sr-d{
    font-size: 0.9rem;
    opacity: 0.7;
  }
  .btn-sr-d{
    margin: 0.5rem;
    font-size: 0.8rem;
  }
}
// Books ---- b-container
.b-container{
  margin: 2rem;
}
.b-contain{
  margin: 1rem;
}
.heading-b-n{
  font-size: 3rem;
}
.subtitle-b-n{
  font-size: 1.3rem;
  opacity: 0.8;
}
.img-b-n{
  width: 300px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
@media only screen and (max-width: 768px) {
  .heading-b-n{
    font-size: 2.5rem;
  }
  .subtitle-b-n{
    font-size: 1.2rem;
  }
  .img-b-n{
    width: 250px;
    height: 270px;
  }
}